:root {
    --Very-dark-blue: hsl(240, 100%, 5%);
    --Soft-orange: hsl(35, 77%, 62%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Soft-red: hsl(5, 85%, 63%);
}

*{
    margin : 0;
    padding : 0;
    font-family:"Inter",sans-serif;
}

html {
    font-size: 15px;
}

.main {
    padding : 1.25rem;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3rem 0;
}

.bar-icon {
    margin-right: 0px;
}


.image img#mobile {
    width: 100%;

}

.image img#desktop {
        display: none;
} 

.nav-list {
        display: none;
    }


.web-future{
    margin-top : 1rem;
}

.web-future h1 {
    color : var(--Very-dark-blue);
    font-weight: 800;
    font-size: 3rem;
    max-width: 250px;;
    margin-bottom: 0px;
}

.web-text p {
    margin-top:1.25rem;
    color : var(--Dark-grayish-blue);
    max-width: 330px;
    padding-bottom: 20px;
}

.read-more {
    background-color: var(--Soft-red);
    border: none;
    padding: 10px 30px;
}

.read-more:hover {
    color : var(--Off-white);
    background-color: var(--Very-dark-blue);
    cursor: pointer;
}

.aside{
    margin-top: 2rem;
    background-color: var(--Very-dark-blue);
    max-width: 350px;
}

.aside h1 {
    padding:1rem;
    color : var(--Soft-orange)
}

.aside div h3 {
    color : var(--Off-white);
    padding-bottom: 20px;
    cursor:  pointer;
}

.aside div h3:hover {
    color: var(--Soft-orange);
    cursor: pointer;
}

.aside div {
    border-bottom: 1px solid var(--Dark-grayish-blue);
    margin: 1rem;
}

.aside div:last-child {
    border: none;
}

.aside div p {
    color : var(--Grayish-blue);
    padding-bottom: 1.5rem;
}

.cards {
    width: 400px;
}

.card {
    display: flex;
    padding : 1rem;
    max-width: 350px;
    padding-left:0px;

}

.card img {
    height: 150px;
}

.card-text {
    padding-left: 1.25rem;
}

.card-text h2 {
    color : var(--Soft-orange);
    padding-bottom: 10px;
}

.card-text h3 {
    padding-bottom: 10px;
}

.card-text h3:hover {
    cursor: pointer;
    color :var(--Soft-orange)
}

.card-text p {
    color : var(--Dark-grayish-blue);
}


@media(min-width : 1240px) {
    .image img#desktop {
        display: block;
    }

    .image img#mobile {
        display: none;
    }

    .bar-icon {
        display: none;
    }

    .main {
        max-width: 1200px;
    }

    .nav-list {
        display: block;
    }

    .nav-list ul{
        display: flex;
        align-items: center;
        gap :  40px;
        padding-right:10rem;
        list-style-type: none;
    }

    .nav-list li a {
        text-decoration: none;
        color: var(--Dark-grayish-blue);
    }

    .nav-list li a:hover {
        cursor: pointer;
        color : var(--Soft-orange);
    }

    .image {
        display: flex;
        gap : 30px;
    }

    .image img#desktop {
        width: 100%;
        max-width: 700px;
    }

    .web-future {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap : 40px;
    }

    .read-more {
        margin-bottom: 0px;
    }


    .aside {
        margin-top: 0px;
    }

    .cards {
        display: flex;
        align-items: center;
        width: 1100px;
        margin-top: 1.25rem;
    }
}






